
@font-face {
  font-family: 'Stem-Bold';
  src: url('Stem-Bold.eot?#iefix') format('embedded-opentype'),  url('Stem-Bold.otf')  format('opentype'),
	     url('Stem-Bold.woff') format('woff'), url('Stem-Bold.ttf')  format('truetype'), url('Stem-Bold.svg#Stem-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
