*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

@charset "utf-8";

@font-face {
    font-family: 'Stem-Regular';
    src:    url('../res/fonts/stem/Stem-Regular/Stem-Regular.eot');
    src:    url('../res/fonts/stem/Stem-Regular/Stem-Regular.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.woff') format('woff'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Regular/Stem-Regular.svg#Stem-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem-Medium';
    src:    url('../res/fonts/stem/Stem-Medium/Stem-Medium.eot');
    src:    url('../res/fonts/stem/Stem-Medium/Stem-Medium.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.woff') format('woff'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Medium/Stem-Medium.svg#Stem-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Stem-Bold';
    src:    url('../res/fonts/stem/Stem-Bold/Stem-Bold.eot');
    src:    url('../res/fonts/stem/Stem-Bold/Stem-Bold.eot?#iefix') format('embedded-opentype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.otf')  format('opentype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.woff') format('woff'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.ttf')  format('truetype'),
            url('../res/fonts/stem/Stem-Bold/Stem-Bold.svg#Stem-Bold') format('svg');
    font-family: 'Stem-Bold', sans-serif;
    font-style: normal;
}

html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    overflow-x:hidden
}

body {
    font-family: 'Stem-Regular', Helvetica, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    color: white;
    background-color: #003359;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Stem-Bold', Helvetica, sans-serif;
}

button, input, select, textarea {
    font:inherit;
    margin:0
}

footer {
    background-color: #002948;
    padding: 45px 50px 50px 50px;
}

header {
    width: 100%;
    display: table;
    height: 100%;
    text-align: center;
    background-image: url("../res/images/img_03.jpg");
    background-position: right 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gradient-top {
    background: -moz-linear-gradient(top, rgba(0,51,89,1) 0%, rgba(0,51,89,0) 89%, rgba(0,51,89,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,51,89,1) 0%,rgba(0,51,89,0) 89%,rgba(0,51,89,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,51,89,1) 0%,rgba(0,51,89,0) 89%,rgba(0,51,89,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003359', endColorstr='#00003359',GradientType=0 ); /* IE6-9 */
    height: 250px;
    width: 100%;
    z-index: 2
}

.gradient-bottom {
    background: -moz-linear-gradient(top, rgba(0,51,89,0) 0%, rgba(0,51,89,0) 9%, rgba(0,51,89,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,51,89,0) 0%,rgba(0,51,89,0) 9%,rgba(0,51,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,51,89,0) 0%,rgba(0,51,89,0) 9%,rgba(0,51,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003359', endColorstr='#003359',GradientType=0 ); /* IE6-9 */
    height: 250px;
    padding-top: 50px;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.title {
    text-align: center;
    padding: 0 250px;
}

.title h1{
    font-weight: 400
}

.small {
    font-size: 11px;
    line-height: 1.8
}

.large {
    font-size: 55px;
    line-height: 60px;
    font-family: 'Stem-Bold', sans-serif;
    padding: 0px 20px
}

.big {
    font-size: 75px;
    line-height: 1.1;
}
.mega {
    font-size: 85px;
}

header .top .col-6, header .top .col-m-6 {
    padding: 0px;
}

.logo {
    width: 185px;
    height: 141px;
    float: left
}

.logo-lay img{
    float: right;
    width: auto;
    height: 80px;
}

.bgimg-2 {
    background-image: url("../res/images/bg-img-blue.jpg");
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgimg-3 {
    min-height: 600px;
    background-image: url("../res/images/bg-3.jpg");
    background-position: center 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5
}

.bgimg-5 {
    background-image: url("../res/images/students.jpg");
    background-position: center 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .top {
   display: table-row;
   vertical-align: middle;
   height: 40%;
}

header .top p {
    text-align: right;
    max-width: 200px;
    float: right;
    padding-top: 20px;
}

header .gradient-top .col-6, header .gradient-top .col-m-6 {
    padding: 0px;
}

.mid {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}

header .bottom p{
    padding: 0px 20px;
}

.form {
    padding: 0 10px;
    display: block
}

.form, .form-with-bg{
    max-width: 960px;
    margin: 0 auto;
}

.form:not(:first-child) {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.form h1{
    text-align: center;
    padding: 0px;
}

#success-0, #success-1, #success-2, #success-3 {
    color: white;
    margin-top: -20px;
    max-width: 600px;
    margin: 0 auto;
    display: none
}


#success-0 p, #success-1 p, #success-2 p, #success-3 p{
    text-align: center;
}

#success-0 a, #success-1 a, #success-2 a, #success-3 a{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}


#error-name-0, #error-mail-0, #error-phone-0,
#error-name-1, #error-mail-1, #error-phone-1,
#error-name-2, #error-mail-2, #error-phone-2,
#error-name-3, #error-mail-3, #error-phone-3  {
    text-align: left;
    font-size: 14px;
    padding-top: 2px;
    color: #F33245;
    display: none
}

.form-field {
    position: relative;
    color: #aaa;
    font-size: 17px;
    float: left;
    font-weight: normal
}
  
.form-field input {
    height: 53px;
    background: white;
    border: none;
    border-radius: 3px;
    width:100%
}

.form-field button {
    width:100%
}

.form-with-bg {
    padding: 50px;
    background-color: rgba(2, 21, 34, 0.3);
}

.bg-opacity {
    padding: 50px;
    background-color: rgba(2, 21, 34, 0.3);
}

  
.form-field input { text-indent: 46px }

.form-field .icon { 
    position: absolute;
    padding: 15px;
}

#name-0, #name-1, #name-2, #name-3 {
    text-transform:capitalize;
}

.btn {
    background-color: #F33245;
    color: white;
    border: none;
    border-radius: 3px;
    height: 53px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(248, 60, 79);
}

.icon-size-medium {
    font-size: 22px;
}

.icon-size-large {
    font-size: 55px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.reasons .col-3 {
    padding-top: 100px;
    height: 200px;
}

.reasons h1 {
    max-width: 90%;
    line-height: 1;
    padding-left: 20px;
}


.reasons .col-3 p{
    max-width: 200px;
    line-height: 1.5
}

.reasons .raw{
    padding-bottom: 150px;
}

.methods .stick-text {
    height: 890px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 3;
}

.methods h1 {
    max-width: 1100px;
    font-size: 75px;
}

.title h1 {
    font-size: 50px;
    font-family: 'Stem-Bold', sans-serif
}

.stick-text h1 {
    padding-left: 15%;
}

.list-methods .row {
    padding-left: calc(15% - 8px);
    padding-left: -moz-calc(15% - 8px);
    padding-left: -webkit-calc(15% - 8px);
    padding-left: -o-calc(15% - 8px);
}

.list-methods .col-4 {
    height: 200px;
}

.list-methods .col-4 p{
    max-width: 200px;
    line-height: 1.5
}

.list-methods {
    padding-top: 330px;
    padding-bottom: 30px;
}

.video {
    padding: 50px;
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* START Fast & Agile YouTube Embed by Schoberg.net */
.youtube { /* continer (responsive) */
    position: relative;
    cursor: pointer;
    background: #ccc no-repeat center center / cover; 
    padding-bottom: 56.25%; /* 16:9 */
    height: 0px;
    clear:both;
  }
  
  .youtube::before { /* play bubble */
    content: '';
    background: rgba(0, 0, 0, 0.3);
    height: 90px;
    width: 90px;
    display:block;
    margin: -45px 0 0 -45px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .1s ease;
    z-index:1;
  }
  
  .youtube:hover::before { /* play bubble hover */
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
  }
  
  .youtube::after { /* Play Triangle */
    content: '';
    width: 0;
    height: 0;
    line-height:0px;
    display:block;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    margin: -15px 0 0 -12px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    z-index:2;
  } 

  .youtube iframe{ /* youtube embed (responsive) */
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
  }


  

.wrapper {
    max-width:1310px;
    margin:0 auto;
    position:relative;
    box-sizing:border-box;
    z-index:2;
}

.prev {
    width: 56px;
    height: 56px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    left: 20px;
    padding: 17px;
    top: 50%;
    margin-top: -68px;
    z-index: 999;
}

.prev:hover {
    background-color:rgba(255,255,255,0.8);
    cursor: pointer;
}

.next {
    width: 56px;
    height: 56px;
    background:rgba(255,255,255,0.4);
    position: absolute;
    right: 20px;
    top: 50%;
    padding: 17px;
    margin-top: -68px;
    z-index: 999;
}

.next:hover {
    background-color:rgba(255,255,255,0.8);
    cursor: pointer;
}

.rec_slider {
    position:relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.rec_slide {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
}

.slider { 
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper {
    position: relative;
    margin: 0 auto;
}

.swiper-slide-prev img, .swiper-slide-next img {
    opacity: 0.2;
}

.rec_slide img {
    position: relative;
    max-width: 100%;
    min-width: 200px;
}

.swiper-pagination {
    z-index: 9999;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-pagination .swiper-pagination-bullet {
    height: 5px;
    width: 50px;
    margin-left: 0px;
    margin-right: 5px;
}

.rec_slider .swiper-pagination {
    text-align: left;
    max-width: 1310px;
    margin: 0 auto;
}

.slide-description {
    position: absolute;
    width: 100%;
    z-index: 2000;
    bottom: 15px;
}


.slide-description .des{
    max-height: 200px;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    color: #003359;
    margin-right: 40px;
    float: right;
}


.swiper-slide .title {
    bottom: 20px;
    left: 20px;
    float: left;
    position: absolute;
    width: 100%;
    z-index: 9999;
    color: #FFFFFF;
    font-size: 0.75em;
    margin-bottom: 50px;
}


#warning {
    color: #F33245;
    font-size: 16px;
    font-weight: 300;
	margin-top: 15px;
}

.dot {
  height: 5px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 5px;
  float: left;
}

.backred{
    background-color: white;
}

.respond {
    display: none;
}

.show-form {
    display: none;
    min-height: 180px;
}

.padding-content {
    padding: 50px;
}

.count {
    display: none;
    padding-left: 50px;
}

.questions {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(3, 24, 39, 0.411);
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}

#question {
    min-height: 100px;
    padding: 0px 50px;
}

.quiz h1.result {
    font-size: 38px;
    padding: 50px 50px 0px 50px;
    font-family: 'Stem-Bold', sans-serif;
    max-width: 900px;
    color: #ff9807
}
.questions p{
    font-size: 27px;
    line-height: 1.8;
}
.controls {
    padding: 25px 50px 0px 50px;
    min-height: 100px;
}

.controls .dot {
    margin-top: 25px;
}

.controls button {
    background: none;
    border: none;
    font-size: 24px;
    float:right;
}

.controls button::after {
    content: "\6e";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "untitled-font-1" !important;
    position: absolute;
    font-size: 24px;
    margin-top: 4px;
    padding-left: 14px
 }

.controls button:hover {
    background: none
}

.controls .dots, .controls .col-m-12 {
    padding: 0px;
    padding-right: 20px;
}

.socials .icon{
    padding-right: 15px;
    opacity: 0.5;
    color: white
}

.socials .icon:hover{
    opacity: 1
}

footer p {
    padding-bottom: 20px;
    opacity: 0.5;
}

.call-form h2{
    text-align: center;
    padding: 100px 0px 30px 0px
}

.formcall {
    padding-bottom: 50px;
    font-size: 43px;
    line-height: 1.5
}

.formcall h1{
    font-size: 43px;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px 30px 0px
}

#next {
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
}
.mistake {
    border: 2px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

/* Grid */

.row::after {
    content: "";
    clear: both;
    display: table;
    border: none;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: none;
}

.aside {
	border: none;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    border: none;
}

.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media (min-width:1180px) {
    .middle  {
        width: 1160px;
        left: 50%;
        transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
    }
}

@media (min-width:1350px) {
    .raw {
        width: 1310px;
        margin: 0 auto;
    }
}

@media (max-width:1024px) {
    .bgimg::after {
        background-position: 70%;
    }
}


/* TABLETS */

@media screen and (max-width: 980px) {
    .video {
        padding: 0px;
    }
    .bgimg-3 {
        min-height: 400px;
    }
    .methods .stick-text {
        height: 600px;
    }
    .stick-text h1 {
        padding-left: 10%
    }
    .form .form-field{
        max-width: 400px;
        margin: 0 auto;
        float: none;
    }
    .form-with-bg {
        background: none;
        padding-bottom: 28px
    }
    .title {
        padding: 0 40px;
        padding-top: 50px;
    }

    .large {
        font-size: 38px;
        padding: 0 20px;
        font-family: 'Stem-Bold', sans-serif;
    }
    .middle {
        top: 60%;
    }
    .bottom-header p {
        font-size: 15px;
    }
    .reasons h1 {
        font-size: 70px;
        max-width: 600px;
        padding-left: 20px;
        line-height: 1.2;
        font-size: 42px;
    }
    .reasons .col-m-6 {
        padding-left: 30px;
    }
    .reasons .col-3 {
        padding-top: 30px;
    }
    .reasons .raw {
        padding-bottom: 80px;
    }
    .list-methods {
        padding-top: 300px;
    }

    .list-methods .row {
        padding-left: calc(10% - 12px);
        padding-left: -moz-calc(10% - 12px);
        padding-left: -webkit-calc(10% - 12px);
        padding-left: -o-calc(10% - 12px);
    }

    .methods h1 {
        font-size: 48px;
        max-width: 650px;
        line-height: 1.2;
    }
    .title h1 {
        font-size: 38px;
        margin: 0 auto;
    }

    .padding-content {
        padding: 0px 20px 20px 20px;
    }
    
    .quiz h1.result {
        padding: 20px 20px 0px 20px;
        font-size: 28px;
        line-height: 1.3;
    }

    #question {
        padding: 0px 20px;
        min-height: 150px;
    }

    .count {
        padding-left: 20px;
    }

    .controls {
        padding: 20px;
        min-height: 150px;
    }

    .controls button {
        float:none;
        padding: 0px
    }
    
    .quiz .raw {
        padding: 20px;
    }
    .controls .col-8, .controls .col-m-12 {
        padding: 0px
    }
    .gradient-bottom {
        padding-top: 20px;
        height: 150px;
    }

    .slider {
        padding-bottom: 100px;
    }

    .slide-description {
        bottom: -10px;
    }

    .slide-description .des {
        padding: 15px;
        font-size: 16px;
        margin: 0 auto;
        float: none;
    }

    .rec_slider .swiper-pagination {
        bottom: -50px;
        text-align: center;
        margin: 0 auto
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 40px;
    }

    footer {
        text-align: center
    }
    footer .logo-lay img {
        float: none;
        margin: 0 auto;
    }
}



@media screen and (max-width: 580px) {
    .video {
        padding-bottom: 0
    }
    .form:not(:first-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .bgimg-4 {
        min-height: 180px;
    }
    .gradient-top {
        height: 200px;
    }
    .form h1 {
        padding: 0px 50px;
    }
    .form .form-field{
        max-width: 400px;
        margin: 0 auto;
        float: none;
    }
    .reasons .col-3 {
        padding-top: 15px;
    }
    .reasons .raw {
        padding-bottom: 50px;
    }
    .large {
        font-size: 28px;
        padding: 0 20px;
        line-height: 1.2
    }
    .list-methods {
        padding-top: 260px;
    }
    .list-methods .row {
        padding-left: 20px;
    }
    .title h1 {
        font-size: 28px;

    }
    .methods .sticky h1 {
        line-height: 1.2;
        padding-left: 30px;
        font-size: 38px;
        max-width: 400px;
    }
    .result {
        font-size: 21px;
        line-height: 1.5
    }
    .controls button {
        float:none;
        padding: 0px
    }

    .questions p{
        font-size: 19px;
    }
    .dot {
        width: 40px;
        margin-right: 7px;
    }
    .controls .col-8, .controls .col-m-12 {
        padding: 0px
    }
    .controls .btn, .controls .btn:after {
        font-size: 19px;
    }
    .controls .btn:after {
        font-size: 19px;
        margin-top: 2px
    }

    .questions .c-dropdown__item {
        font-size: 19px;
    }
    .gradient-bottom {
        padding-top: 10px;
        height: 100px;
    }
    footer {
        text-align: center
    }
    footer .logo-lay img {
        float: none;
        margin: 0 auto;
    }
    .form-with-bg {
        background: none;
        padding: 20px;
    }
}

@media screen and (max-width: 380px) {
    p, .slide-description .des {
        font-size: 14px;
    }
    .col-m-6 p {
        margin: 0px;
    }
    [class*="col-"] {
        padding: 5px;
    }
    img.logo {
        width: 120px;;
        height: auto;
    }
    header .top p {
        padding-top: 15px;
        width: 150px;
    }
    .reasons h1 {
        font-size: 34px;
        padding-left: 10px;
    }
    .reasons .col-m-6 {
        padding-left: 10px;
    }
    .methods .sticky h1 {
        font-size: 28px;
        padding: 0px 10px;
    }
    .list-methods .row {
        padding-left: 10px;
    }

    .c-dropdown {
        margin: 10px 0px
    }

    .middle {
        top: 65%;
    }
    .quiz h1.result {
        font-size: 24px;
    }
    .bottom-header {
        padding: 10px;
    }
    footer {
        padding: 20px;
    }
    .logo-lay img {
        height: 60px;
    }
}

@supports (-ms-ime-align:auto) {
    .form-field input { text-indent: 22px }
    body { font-family: 'Stem-Regular', Helvetica, Arial, sans-serif; }
}