
@font-face {
  font-family: 'Stem-Regular';
  src: url('Stem-Regular.eot?#iefix') format('embedded-opentype'),  url('Stem-Regular.otf')  format('opentype'),
	     url('Stem-Regular.woff') format('woff'), url('Stem-Regular.ttf')  format('truetype'), url('Stem-Regular.svg#Stem-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
