@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-18-play:before {
  content: "\62";
}
.icon-icon-02-stars:before {
  content: "\63";
}
.icon-icon-03-baloons:before {
  content: "\64";
}
.icon-icon-04-tutors:before {
  content: "\65";
}
.icon-icon-05-diplom:before {
  content: "\66";
}
.icon-icon-06-calendar:before {
  content: "\67";
}
.icon-icon-07-earth:before {
  content: "\68";
}
.icon-icon-08-blended:before {
  content: "\69";
}
.icon-icon-09-progress:before {
  content: "\6a";
}
.icon-icon-10-display:before {
  content: "\6b";
}
.icon-icon-11-monitoring:before {
  content: "\6c";
}
.icon-icon-12-groups:before {
  content: "\6d";
}
.icon-icon-13-arrow:before {
  content: "\6e";
}
.icon-icon-14-arrow:before {
  content: "\6f";
}
.icon-icon-16-phone:before {
  content: "\71";
}
.icon-icon-17-email:before {
  content: "\72";
}
.icon-icon-15-cap:before {
  content: "\73";
}
.icon-fb:before {
  content: "\74";
}
.icon-gg:before {
  content: "\70";
}
.icon-ins:before {
  content: "\75";
}
.icon-vk:before {
  content: "\76";
}
.icon-ld-d:before {
  content: "\77";
}
.icon-icon-01:before {
  content: "\61";
}
